// THEME COLORS -------------------------------------

$siteBG: #e9ebef;

$primary50: #EFF4FF; $primary50-rgb: hexToRGB($primary50);
$primary100: #DBE3F8; $primary100-rgb: hexToRGB($primary100);
$primary200: #C8D3F0; $primary200-rgb: hexToRGB($primary200);
$primary300: #B0BEE4; $primary300-rgb: hexToRGB($primary300);
$primary400: #98A7D4; $primary400-rgb: hexToRGB($primary400);
$primary500: #7E8DC0; $primary500-rgb: hexToRGB($primary500);
$primary600: #6372A5; $primary600-rgb: hexToRGB($primary600);
$primary700: #485584; $primary700-rgb: hexToRGB($primary700);
$primary800: #2E375C; $primary800-rgb: hexToRGB($primary800);
$primary900: #171C33; $primary900-rgb: hexToRGB($primary900);
$primary950: #111528; $primary950-rgb: hexToRGB($primary950);

$red: #EB5757; $red-rgb: hexToRGB($red);
$yellow: #F2C94C; $yellow-rgb: hexToRGB($yellow);
$green: #6FCF97; $green-rgb: hexToRGB($green);
$cyan: #56CCF2; $cyan-rgb: hexToRGB($cyan);

// GRAYSCALE -------------------------------------

$white: #ffffff; $white-rgb: hexToRGB($white);
$black: #000000; $black-rgb: hexToRGB($black);

$gray50:  darken($white, 3%);
$gray100: darken($white, 6%);
$gray200: darken($white, 17%);
$gray300: darken($white, 28%);
$gray400: darken($white, 39%);
$gray500: darken($white, 50%);
$gray600: darken($white, 61%);
$gray700: darken($white, 72%);
$gray800: darken($white, 83%);
$gray900: darken($white, 94%);

// LOGO COLORS -------------------------------------

$color-vue: #41B883;
$color-react: #61DAFB;
$color-sass: #CD6799;
