// BREAKPOINTS -------------------------------------

$breakpoints: (
  'small': 375px,
  'phone': 540px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1248px,
  'large': 1440px,
  'x-large': 1680px,
  'huge': 1920px
);

// FONT SIZE -------------------------------------

$fs-xxxs: .375rem;
$fs-xxs: .5rem;
$fs-xs: .75rem;
$fs-s: .875rem;
$fs-m: 1rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 3rem;

// FONT WEIGHTS -------------------------------------

$fw-light: 400;
$fw-normal: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-boldest: 800;

// BORDER RADIUS -------------------------------------

$br-s: .125rem;
$br-m: .25rem;
$br-l: .375rem;
$br-xl: .5rem;
$br-xxl: .75rem;
$br-xxxl: 1rem;

// SPACING -------------------------------------

$sp-xxxs: .25rem;
$sp-xxs: .5rem;
$sp-xs: .75rem;
$sp-s: 1rem;
$sp-m: 1.5rem;
$sp-l: 2rem;
$sp-xl: 3rem;
$sp-xxl: 4rem;
$sp-xxxl: 6rem;


// EASING -------------------------------------

$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);

$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

// TYPOGRAPHY -------------------------------------

$font-stack: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-stack-mono: 'Inconsolata', "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
