// ANIMXYZ -------------------------------------
@use 'sass:map';
@import '@animxyz/core';
@include xyz-all;

$mode-colors: (
  'in': transparentize($green, 0.25),
  'out': transparentize($red, 0.25),
  'appear': transparentize($yellow, 0.25),
);

@keyframes xray-scan {
  0% {
    right: 0;
    left: 100vw;
    backdrop-filter: invert(1);
    background-color: transparentize($cyan, .75);
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 100vw;
    backdrop-filter: invert(1);
    background-color: transparentize($cyan, .75);
  }
}

@keyframes xyz-xray-mode {
  0% {
    background-color: transparent;
  }
  25%, 75% {
    background-color: var(--xyz-xray-color);
  }
  100% {
    background-color: transparent;
  }
}

.xyz-xray {
  @each $mode in $xyz-modes {
    .xyz-#{$mode}, .xyz-#{$mode} .xyz-nested, .xyz-#{$mode} .xyz-#{$mode}-nested {
      position: relative;

      &:not(:hover)::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        z-index: 9999;
        $duration: xyz-var('duration', $mode);
        $delay: var(--xyz-active-delay, 0s);
        --xyz-xray-color: #{map.get($mode-colors, $mode)};
        animation: xyz-xray-mode $duration $ease-out $delay;
      }
    }
  }

  [xyz] {
    position: relative;

    &:hover {
      box-shadow: inset 0 0 0 3px $cyan;

      &::after {
        content: attr(xyz);
        position: absolute;
        top: 0;
        left: 0;
        padding: $sp-xxxs;
        margin-right: $sp-xs;
        background-color: $cyan;
        color: darken($cyan, 50%);
        line-height: 1.25;
        font-weight: 600;
        font-family: $font-stack-mono;
        font-size: $fs-s;
        text-align: left;
        z-index: 9999;
        pointer-events: none;
      }
    }
  }
}

.xyz-paused {
  animation-play-state: paused !important;

  @each $mode in $xyz-modes {
    .xyz-#{$mode}, .xyz-#{$mode} .xyz-nested, .xyz-#{$mode} .xyz-#{$mode}-nested {
		   animation-play-state: paused !important;
    }
	}
}
