// COLORS -------------------------------------

:root {
  --primary-50-rgb: #{$primary50-rgb};
  --primary-50: #{$primary50};
  --primary-100-rgb: #{$primary100-rgb};
  --primary-100: #{$primary100};
  --primary-200-rgb: #{$primary200-rgb};
  --primary-200: #{$primary200};
  --primary-300-rgb: #{$primary300-rgb};
  --primary-300: #{$primary300};
  --primary-400-rgb: #{$primary400-rgb};
  --primary-400: #{$primary400};
  --primary-500-rgb: #{$primary500-rgb};
  --primary-500: #{$primary500};
  --primary-600-rgb: #{$primary600-rgb};
  --primary-600: #{$primary600};
  --primary-700-rgb: #{$primary700-rgb};
  --primary-700: #{$primary700};
  --primary-800-rgb: #{$primary800-rgb};
  --primary-800: #{$primary800};
  --primary-900-rgb: #{$primary900-rgb};
  --primary-900: #{$primary900};

  --text-color: #{$primary800};
}

.dark-mode {
  --primary-50-rgb: #{$primary50-rgb};
  --primary-50: #{$primary50};
  --primary-100-rgb: #{$primary100-rgb};
  --primary-100: #{$primary100};
  --primary-200-rgb: #{$primary200-rgb};
  --primary-200: #{$primary200};
  --primary-300-rgb: #{$primary300-rgb};
  --primary-300: #{$primary300};
  --primary-400-rgb: #{$primary400-rgb};
  --primary-400: #{$primary400};
  --primary-500-rgb: #{$primary500-rgb};
  --primary-500: #{$primary500};
  --primary-600-rgb: #{$primary600-rgb};
  --primary-600: #{$primary600};
  --primary-700-rgb: #{$primary700-rgb};
  --primary-700: #{$primary700};
  --primary-800-rgb: #{$primary800-rgb};
  --primary-800: #{$primary800};
  --primary-900-rgb: #{$primary900-rgb};
  --primary-900: #{$primary900};
}

.color-axis-x {
	color: $red;
}

.color-axis-y {
	color: $yellow;
}

.color-axis-z {
	color: $green;
}

.color-axis-all {
	color: $cyan;
}

.color-axis-none {
  color: $cyan;
}
