.copy-content {
  font-size: 1.125rem;

	@include media('<phone') {
		font-size: $fs-m;
	}


  h2 {
    font-size: 1.125rem;
  }

  h2, h3, h4, h5 {
    color: primary-color(800);
    margin-bottom: .5em;
    font-weight: 600;

    &:not(:first-child) {
      margin-top: 1.5em;
		}
  }

	p,
  pre[class*='language-'],
  .note {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	strong {
		font-weight: 640;
	}

  code:not([class*="language-"]) {
    color: desaturate(darken(#F92672, 12%), 8%);
    font-family: $font-stack-mono;
    font-size: inherit;
    font-weight: bold;
    background-color: transparentize(darken(#F92672, 10%), .95);
    padding: .125em .25em;
    border-radius: $br-s;
  }

	pre[class*='language-'] {
    position: relative;
		background: primary-color(900);
		margin: 0 (-$sp-xxs);
    border-radius: $br-l;
    font-size: inherit;

    &::before {
      position: absolute;
      right: 0;
      top: 0;
      height: 1.25rem;
      display: flex;
      align-items: center;
      background-color: primary-color(600);
      color: white;
      font-size: $fs-xs;
      font-weight: 600;
      padding: 0 $sp-xxs;
      border-bottom-left-radius: $br-m;
      user-select: none;
    }
	}

  pre[class*='language-html']::before {
    content: 'HTML';
  }

  pre[class*='language-css']::before {
    content: 'CSS';
  }

  pre[class*='language-js']::before {
    content: 'JS';
  }

  pre[class*='language-jsx']::before {
    content: 'JSX';
  }

  pre[class*='language-bash']::before {
    content: 'Bash';
  }

	table {
		border-collapse: collapse;
		font-family: $font-stack-mono;
    font-size: $fs-l;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

		thead {
			color: primary-color(800);
		}

		th,
		td {
			text-align: left;
			padding: $sp-xxs $sp-s;
		}

		td {
			color: primary-color(700);
			line-height: 1.5rem;
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background-color: primary-color(800, 0.05);
				}
			}
		}
	}

  a {
    font-weight: 600;
    text-decoration: none;
    position: relative;
    white-space: nowrap;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  a:not([href*='tab=examples']) {
    color: primary-color(700);
    transition: color .2s $ease-out;

    &::before {
      content: '';
      position: absolute;
      bottom: -.2em;
      left: .2em;
      right: .2em;
      height: .15em;
      background-color: transparentize($cyan, 0.35);
      transition: .15s $ease-out;
      transition-property: height, left, right, background-color;
    }

    &:hover,
    &:focus {
      color: primary-color(800);

      &::before {
        left: -.1em;
        right: -.1em;
        height: .25em;
        background-color: $cyan;
      }
    }

    &[target=_blank] {
      &::before {
        background-color: transparentize($green, 0.35);
      }

      &:hover,
      &:focus {
        &::before {
          background-color: $green;
        }
      }
    }
  }

  a[href*='tab=examples'] {
    align-items: center;
    line-height: 1.5rem;
    display: inline-flex;
    color: primary-color(700);
    background-color: primary-color(100, 0.75);
    font-size: $fs-m;
    font-family: $font-stack-mono;
    white-space: initial;
    padding: 0 $sp-xxs;
    border-radius: $br-m;
    margin-right: $sp-xxxs;
    margin-bottom: $sp-xxs;
    transition: .2s $ease-out;
    transition-property: background-color, color, box-shadow;

    &::after {
      display: inline-block;
      content: '→';
      font-size: $fs-l;
      margin-left: $sp-xxs;
      transition: transform .2s $ease-out-back;
    }

    &:focus {
      box-shadow: 0 0 0 2px $cyan;
      outline: none;
    }

    &:hover {
      background-color: primary-color(300);
      color: primary-color(800);

      &::after {
        transform: translateX(.75rem);
      }
    }

    &:active {
      background-color: primary-color(600);
      color: primary-color(50);
      box-shadow: none;
    }

    &.link--large {
      padding: $sp-xxxs $sp-xxs;
    }
  }
}

.note {
  position: relative;
  background-color: primary-color(600, 0.05);
  border-left: 8px solid primary-color(500);
  padding: $sp-s;
  border-radius: $br-m;
  font-size: $fs-m;

  pre[class*='language-'] {
    margin: 0;
  }
}

.note--tagged {
  margin-top: 1.75rem;
}

.note-tag__wrap {
  position: absolute;
  top: -.5rem;
  right: 1rem;
  display: flex;
  grid-gap: $sp-xxs;
}

.note-tag {
  height: 1.25rem;
  display: flex;
  align-items: center;
  background-color: primary-color(600);
  color: white;
  font-size: $fs-xs;
  font-weight: 600;
  padding: 0 $sp-xxs;
  border-radius: $br-m;
  user-select: none;
}

.note--Vue {
  border-color: $color-vue;
}

.note-tag--Vue {
  background-image: url('../../icons/IconVue.svg');
  background-color: $color-vue;
}

.note--React {
  border-color: $color-react;
}

.note-tag--React {
  color: #282c34;
  background-color: $color-react;
}

.note--Sass {
  border-color: $color-sass;
}

.note-tag--Sass {
  background-color: $color-sass;
}
