.screen-reader-only {
  @include screen-reader-only;
}

.pe-none {
  pointer-events: none !important;
}

.c-pointer {
  cursor: pointer !important;
}

.perspective-1 {
  perspective: 100px !important;
}

.perspective-2 {
  perspective: 200px !important;
}

.perspective-3 {
  perspective: 300px !important;
}

.perspective-4 {
  perspective: 400px !important;
}

.perspective-5 {
  perspective: 500px !important;
}

.perspective-none {
  perspective: none !important;
}
