// ICONS -------------------------------------

svg {
  display: block;
}

.icon-svg {
  overflow: visible;
  transition: .2s $ease-out-quad;
  transition-property: fill, stroke;
}


// EXAMPLES -------------------------------------

.example-wrap {
  perspective: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  @include size(5.5rem);
  margin: -.25rem 0;
	background-color: $cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fs-m;
  font-weight: 600;
  font-family: $font-stack-mono;
}

.triangle {
  --triangle-color: #{$cyan};
  --triangle-height: 5rem;  /* setting side of the triangle */
  
  position: relative;
  width: 0;
  height: 0;
  border-bottom: var(--triangle-height, 0) solid var(--triangle-color);
  border-left: calc(var(--triangle-height, 0) * 0.577) solid transparent;
  border-right: calc(var(--triangle-height, 0) * 0.577) solid transparent;
}

.square {
	@include size(5rem);
	background-color: $cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fs-m;
  font-weight: 600;
  font-family: $font-stack-mono;
}

.square-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.square-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;

  .square {
    @include size(4rem);
  }
}

.square-grid-10 {
  grid-template-columns: repeat(10, 1fr);

  .square {
    @include size(2rem);
  }
}

.square-block {
  @include size(5rem);
  border: 2px solid $cyan;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .5rem;
  padding: .5rem;

  .square {
    @include size(100%);
  }
}

.example-button {
  background-color: primary-color(800);
  color: primary-color(100);
  border-radius: $br-l;
  display: flex;
  align-items: center;
  font-weight: 650;
  letter-spacing: 0.025em;
  padding: $sp-xxs $sp-s;
  transition: 0.2s ease-in-out;
  transition-property: background-color, box-shadow, color;

  &:hover {
    background-color: primary-color(700);
  }

  &:active {
    color: primary-color(700);
    background-color: primary-color(100);
  }

  &:focus {
    box-shadow: 0 0 0 2px $cyan;
  }

  & + & {
    margin-left: $sp-xxs;
  }
}