code[class*="language-"],
pre[class*="language-"] {
	color: primary-color(50);
	background: none;
	font-family: $font-stack-mono;
	font-weight: bold;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.25;
	font-size: 1.125rem;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .25em .5em;
	white-space: normal;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.punctuation {
	color: primary-color(50);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #778090;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.keyword {
	color: #F92672;
}

.token.boolean,
.token.number {
	color: #AE81FF;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #A6E22E;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #E6DB74;
}

.token.regex,
.token.important {
	color: #FD971F;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.namespace {
	opacity: .7;
}

.token.entity {
	cursor: help;
}
