body {
  background-color: var(--body-color);
  transition: background-color 0.2s ease-in-out;
}

[data-server-rendered='true'] {
  opacity: 0;
}

:root {
  scroll-behavior: smooth;
}

// *, *:before, *:after {
//   border: 1px solid red;
// }