body {
  background-color: primary-color(50);
  transition: background-color 0.2s ease-in-out;

  @include dark-mode {
    background-color: primary-color(950);
  }
}

[data-server-rendered='true'] {
  opacity: 0;
}

:root {
  scroll-behavior: smooth;
}

// *, *:before, *:after {
//   border: 1px solid red;
// }