$spacingSizes: (
  'xxxs': $spacing-xxxs,
  'xxs': $spacing-xxs,
  'xs': $spacing-xs,
  's': $spacing-s,
  'm': $spacing-m,
  'l': $spacing-l,
  'xl': $spacing-xl,
  'xxl': $spacing-xxl,
  'xxxl': $spacing-xxxl,
  '0': 0
);

@mixin margins($sizeName, $sizeSize) {
  .m-#{$sizeName} { margin: $sizeSize !important; }
  .mt-#{$sizeName} { margin-top: $sizeSize !important; }
  .mr-#{$sizeName} { margin-right: $sizeSize !important; }
  .mb-#{$sizeName} { margin-bottom: $sizeSize !important; }
  .ml-#{$sizeName} { margin-left: $sizeSize !important; }
  .mh-#{$sizeName} { margin-left: $sizeSize !important; margin-right: $sizeSize !important; }
  .mv-#{$sizeName} { margin-top: $sizeSize !important; margin-bottom: $sizeSize !important; }
}

@mixin paddings($sizeName, $sizeSize) {
  .p-#{$sizeName} { padding: $sizeSize !important; }
  .pt-#{$sizeName} { padding-top: $sizeSize !important; }
  .pr-#{$sizeName} { padding-right: $sizeSize !important; }
  .pb-#{$sizeName} { padding-bottom: $sizeSize !important; }
  .pl-#{$sizeName} { padding-left: $sizeSize !important; }
  .ph-#{$sizeName} { padding-left: $sizeSize !important; padding-right: $sizeSize !important; }
  .pv-#{$sizeName} { padding-top: $sizeSize !important; padding-bottom: $sizeSize !important; }
}

@include margins('auto', auto);

@each $name, $size in $spacingSizes {
  @include margins($name, $size);
  @include paddings($name, $size);
}
