body {
  background-color: primary-color(50);
  overflow-x: hidden;
}

svg {
  display: block;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
