html, body {
  font-family: $font-stack;
  color: $textGray;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-900);
  line-height: 1.25;
}

p, a, label, h1, h2, h3, h4, h5, h6, ul, ol, dl {
  transition: color .3s $ease-in-out;
}

p {
  color: var(--text-color);
  display: flow-root;
  line-height: 1.5;

  a {
    font-weight: 600;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
  }

  a:not([href$=example]) {
    color: primary-color(700);
    transition: color .2s $ease-out;

    &::before {
      content: '';
      position: absolute;
      bottom: -.2em;
      left: .2em;
      right: .2em;
      height: .15em;
      background-color: transparentize($cyan, 0.35);
      transition: height .15s $ease-out, left .15s $ease-out, right .15s $ease-out, background-color .15s $ease-out;
      z-index: -1;
    }

    &:hover {
      color: primary-color(800);

      &::before {
        left: -.1em;
        right: -.1em;
        height: .25em;
        background-color: $cyan;
      }
    }
  }

  a[href$=example] {
    background-color: transparentize($cyan, 0.75);
    color: primary-color(800);
    display: inline-block;
    font-size: $fs-m;
    font-family: $font-stack-mono;
    line-height: 1.5rem;
    padding: 0 $sp-xxxs;
    border-radius: $br-m;
    transition: background-color .2s $ease-out, color .2s $ease-out;

    &::after {
      display: inline-block;
      content: '\2192';
      font-size: $fs-l;
      margin-left: $sp-xxxs;
      transition: transform .2s $ease-out-back;

      @include media('<laptop') {
        content: '\2193';
      }
    }

    &:hover,
    &:focus {
      background-color: transparentize($cyan, 0.5);

      &::after {
        transform: translateX(.5rem);

        @include media('<laptop') {
          transform: translateY(.35rem);
        }
      }
    } 
  }
}

textarea {
  display: block;
}

code:not([class*="language-"]) {
  color: desaturate(darken(#F92672, 12%), 8%);
  font-family: $font-stack-mono;
  font-size: inherit;
  font-weight: bold;
  background-color: transparentize(darken(#F92672, 10%), .95);
  padding: .125em .25em;
  border-radius: $br-s;
  white-space: nowrap;
}

label {
  line-height: 1.25rem;
}

.list--no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text--white {
  color: white !important;
}

.text--xs {
  font-size: $fs-xs !important;
}

.text--s {
  font-size: $fs-s !important;
}

.text--m {
  font-size: $fs-m !important;
}

.text--l {
  font-size: $fs-l !important;
}

.text--xl {
  font-size: $fs-xl !important;
}

.text--xxl {
  font-size: $fs-xxl !important;
}

.text--xxxl {
  font-size: $fs-xxxl !important;
}

.fw--normal {
  font-weight: $fw-normal !important;
}

.fw--medium {
  font-weight: $fw-medium !important;
}

.fw--bold {
  font-weight: $fw-bold !important;
}

.fw--boldest {
  font-weight: $fw-boldest !important;
}

.td--underline {
  text-decoration: underline !important;
}

.text--nowrap {
  white-space: nowrap !important;
}
