html, body {
  font-family: $font-stack;
  color: $textGray;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-900);
  line-height: 1.25;
}

p, a, label, h1, h2, h3, h4, h5, h6, ul, ol, dl {
  transition: color .3s $ease-in-out;
}

p {
  color: var(--text-color);
  line-height: 1.5;

  a {
    color: primary-color(700);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: color .2s $ease-out;
    white-space: nowrap;
  
    &::before {
      content: '';
      position: absolute;
      bottom: -.2em;
      left: .2em;
      right: .2em;
      height: .15em;
      background-color: transparentize($cyan, 0.35);
      transition: height .15s $ease-out, left .15s $ease-out, right .15s $ease-out, background-color .15s $ease-out;
      z-index: -1;
    }
  
    &:hover {
      color: primary-color(800);

      &::before {
        left: -.1em;
        right: -.1em;
        height: .25em;
        background-color: $cyan;
      }
    }
  }
}

textarea {
  display: block;
}

code:not([class*="language-"]) {
  color: #F92672;
  font-family: $font-stack-mono;
  font-size: inherit;
  font-weight: bold;
  background-color: transparentize(#F92672, .925);
  padding: .125em .25em;
  border-radius: $br-s;
  white-space: nowrap;
}

label {
  line-height: 1.25rem;
}

.list--no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text--white {
  color: white !important;
}

.text--xs {
  font-size: $fs-xs !important;
}

.text--s {
  font-size: $fs-s !important;
}

.text--m {
  font-size: $fs-m !important;
}

.text--l {
  font-size: $fs-l !important;
}

.text--xl {
  font-size: $fs-xl !important;
}

.text--xxl {
  font-size: $fs-xxl !important;
}

.text--xxxl {
  font-size: $fs-xxxl !important;
}

.fw--normal {
  font-weight: $fw-normal !important;
}

.fw--medium {
  font-weight: $fw-medium !important;
}

.fw--bold {
  font-weight: $fw-bold !important;
}

.fw--boldest {
  font-weight: $fw-boldest !important;
}

.td--underline {
  text-decoration: underline !important;
}

.text--nowrap {
  white-space: nowrap !important;
}
