@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'variables' as *;


// MODE FUNCTIONS

@function xyz-name($name, $mode: 'all') {
  @if $mode == 'all' {
    @return $name;
  }
  @return $mode + '-' + $name;
}


// VARIABLE FUNCTIONS

@function xyz-var($name, $mode: 'all', $fallback: 'default') {
  @if $fallback == 'default' {
    $fallback: var(--xyz-#{$name}-default);
  }
  @return var(--xyz-#{xyz-name($name, $mode)}, var(--xyz-#{$name}, #{$fallback}));
}

@mixin xyz-set-all($val: initial) {
  @each $mode in $xyz-modes-all {
    --xyz-#{xyz-name('keyframes', $mode)}: #{$val};

    --xyz-#{xyz-name('ease', $mode)}: #{$val};
    --xyz-#{xyz-name('duration', $mode)}: #{$val};
    --xyz-#{xyz-name('delay', $mode)}: #{$val};
    --xyz-#{xyz-name('stagger', $mode)}: #{$val};
    --xyz-#{xyz-name('stagger-rev', $mode)}: #{$val};
    --xyz-#{xyz-name('iterate', $mode)}: #{$val};

    --xyz-#{xyz-name('origin', $mode)}: #{$val};

    --xyz-#{xyz-name('fade', $mode)}: #{$val};

    --xyz-#{xyz-name('transform', $mode)}: #{$val};
    --xyz-#{xyz-name('translate-x', $mode)}: #{$val};
    --xyz-#{xyz-name('translate-y', $mode)}: #{$val};
    --xyz-#{xyz-name('translate-z', $mode)}: #{$val};
    --xyz-#{xyz-name('rotate-x', $mode)}: #{$val};
    --xyz-#{xyz-name('rotate-y', $mode)}: #{$val};
    --xyz-#{xyz-name('rotate-z', $mode)}: #{$val};
    --xyz-#{xyz-name('scale-x', $mode)}: #{$val};
    --xyz-#{xyz-name('scale-y', $mode)}: #{$val};
    --xyz-#{xyz-name('scale-z', $mode)}: #{$val};
  }

  --xyz-#{xyz-name('ease', 'move')}: #{$val};
  --xyz-#{xyz-name('duration', 'move')}: #{$val};
  --xyz-#{xyz-name('delay', 'move')}: #{$val};
}


// UTILITIES

@function xyz-utility-ease($level: 'ease') {
  @return map.get($xyz-utility-eases, $level);
}

@function xyz-utility-time($level: '0') {
  @return map.get($xyz-utility-times, $level);
}

@function xyz-utility-iteration($level: '0') {
  @return map.get($xyz-utility-iterations, $level);
}

@function xyz-utility-origin($level: 'center') {
  @return map.get($xyz-utility-origins, $level);
}

@function xyz-utility-fade($level: '0') {
  @return map.get($xyz-utility-fades, $level);
}

@function xyz-utility-translation($level: '0') {
  @return map.get($xyz-utility-translations, $level);
}

@function xyz-utility-translation-z($level: '0') {
  @return map.get($xyz-utility-translations-z, $level);
}

@function xyz-utility-rotation($level: '0') {
  @return map.get($xyz-utility-rotations, $level);
}

@function xyz-utility-scale($level: '0') {
  @return map.get($xyz-utility-scales, $level);
}

@mixin xyz-utility($name, $level: 'default', $mode: 'all') {
  $utility: map.get($xyz-utilities, $name);
  $vars: map.get($utility, 'vars');
  $default-val: map.get($utility, 'default-val');
  $utility-map: map.get($utility, 'utility-map');
  $transform-func: map.get($utility, 'transform-func');

  $val: null;
  @if $level == 'default' {
    $val: $default-val;
  } @else {
    $val: map.get($utility-map, $level);
    @if $transform-func {
      $val: meta.call($transform-func, $val);
    }
  }

  @each $var in $vars {
    --xyz-#{xyz-name($var, $mode)}: #{$val};
  }
}

@mixin xyz($utilities) {
  $utilites-list: xyz-str-split($utility);

  @each $utility in $utilities-list {
    $utility-mode: null;
    $utility-name: null;
    $utility-level: null;

    @each $name in map.keys($xyz-utilities) {
      @if string.index($utility, $name) {
        $utility-name: $name;
      }
    }

    $utility-level: string.slice(string.index($utility-name, $utility-name));
    @if string.length($utility-level) == 0 {
      $utility-level: 'default';
    }

    @each $mode in list.append($xyz-modes-all, 'move') {
      @if string.index($utility, $mode) {
        $utility-mode: $mode;
      }
    }
    @if $utility-mode == null {
      $utility-mode: 'all';
    }

    @include xyz-utility($utility-name, $utility-level, $utility-mode);
  }
}

@mixin xyz-make-utility($name, $level: 'default', $mode: 'all') {
  $mode-name: xyz-name($name, $mode);

  @if $level == 'default' {
    [xyz~=#{$mode-name}] {
      @content;
    }
  } @else {
    [xyz~=#{$mode-name}-#{$level}] {
      @content;
    }
  }
}


@mixin xyz-make-keyframes($name, $make-utilities: true) {
  @each $mode in $xyz-modes {
    $mode-name: xyz-name($name, $mode);

    @keyframes xyz-#{$mode-name} {
      @content($mode);
    }
  }

  @if $make-utilities {
    @each $mode in $xyz-modes {
      $mode-name: xyz-name($name, $mode);

      [xyz~=#{$name}], [xyz~=#{$mode-name}] {
        --xyz-#{xyz-name('keyframes', $mode)}: xyz-#{$mode-name};
      }
    }
  }
}


// ANIMATION FUNCTIONS

@mixin xyz-animation($mode) {
  $keyframes: xyz-var('keyframes', $mode, xyz-#{xyz-name('keyframes', $mode)});
  $duration: xyz-var('duration', $mode);
  $ease: xyz-var('ease', $mode);
  $delay: xyz-var('delay', $mode, 0s);
  $stagger: xyz-var('stagger', $mode, 0s);
  $stagger-rev: xyz-var('stagger-rev', $mode, 0s);
  $iterate: xyz-var('iterate', $mode, 1);
  $origin: xyz-var('origin', $mode, center);

  $index: var(--xyz-index, 0);
  $index-rev: var(--xyz-index-rev, 0);

  $direction: normal;
  @if $mode == 'out' {
    $direction: reverse;
  }

  transform-origin: #{$origin};
  backface-visibility: visible;

  animation:
    #{$keyframes}
    #{$duration}
    #{$ease}
    calc(#{$delay} + #{$stagger} * #{$index} + #{$stagger-rev} * #{$index-rev})
    #{$iterate}
    #{$direction}
    both
    !important;

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
  }
}

@mixin xyz-in() {
  @include xyz-animation('in')
}

@mixin xyz-out() {
  @include xyz-animation('out')
}

@mixin xyz-appear() {
  @include xyz-animation('appear')
}
