@use 'sass:map';
@use 'variables' as *;

@function str-split($string, $separator: ' ') {
  $split-arr: ();
  $index : str-index($string, $separator);
  @while $index != null {
      $item: str-slice($string, 1, $index - 1);
      $split-arr: append($split-arr, $item);
      $string: str-slice($string, $index + 1);
      $index : str-index($string, $separator);
  }
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

@function xyz-mode-name($name, $mode: 'all') {
  @if $mode == 'all' {
    @return $name;
  }
  @return $mode + '-' + $name;
}

@function xyz-fallback-var($name, $mode: 'all', $fallback: 'default') {
  @if $fallback == 'default' {
    $fallback: var(--xyz-#{$name}-default);
  }
  @return var(--xyz-#{xyz-mode-name($name, $mode)}, var(--xyz-#{$name}, #{$fallback}));
}

@function xyz-utility-ease($level: 'ease') {
  @return map.get($xyz-utility-eases, $level);
}

@function xyz-utility-time($level: '0') {
  @return map.get($xyz-utility-times, $level);
}

@function xyz-utility-fade($level: '0') {
  @return map.get($xyz-utility-fades, $level);
}

@function xyz-utility-translation($level: '0') {
  @return map.get($xyz-utility-translations, $level);
}

@function xyz-utility-rotation($level: '0') {
  @return map.get($xyz-utility-rotations, $level);
}

@function xyz-utility-scale($level: '0') {
  @return map.get($xyz-utility-scales, $level);
}

@mixin xyz-set-all($val: initial) {
  @each $mode in $xyz-modes-all {
    --xyz-#{xyz-mode-name('ease', $mode)}: #{$val};

    --xyz-#{xyz-mode-name('duration', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('delay', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('stagger', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('iterations', $mode)}: #{$val};

    --xyz-#{xyz-mode-name('fade', $mode)}: #{$val};

    --xyz-#{xyz-mode-name('transform', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('translate-x', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('translate-y', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('translate-z', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('rotate', $mode)}: #{$val};
    --xyz-#{xyz-mode-name('scale', $mode)}: #{$val};

    --xyz-#{xyz-mode-name('keyframes', $mode)}: #{$val};
  }

  --xyz-#{xyz-mode-name('ease', 'move')}: #{$val};
  --xyz-#{xyz-mode-name('duration', 'move')}: #{$val};
  --xyz-#{xyz-mode-name('delay', 'move')}: #{$val};
}

@mixin xyz-make-keyframes($name, $includeUtilities: true) {
  @each $mode in $xyz-modes {
    $mode-name: xyz-mode-name($name, $mode);

    @keyframes xyz-#{$mode-name} {
      @content($mode);
    }

    @if $includeUtilities {
      [xyz~=#{$name}], [xyz~=#{$mode-name}] {
        --xyz-#{xyz-mode-name('keyframes', $mode)}: xyz-#{$mode-name};
      }
    }
  }
}

@mixin xyz-animation($mode) {
  $keyframes: xyz-fallback-var('keyframes', $mode, xyz-#{xyz-mode-name('keyframes', $mode)});
  $duration: xyz-fallback-var('duration', $mode);
  $ease: xyz-fallback-var('ease', $mode);
  $delay: xyz-fallback-var('delay', $mode, 0s);
  $stagger-delay: xyz-fallback-var('stagger', $mode, 0s);
  $index: var(--xyz-index, 0);
  $iterations: xyz-fallback-var('iterations', $mode);

  $direction: normal;
  @if $mode == 'out' {
    $direction: reverse;
  }

  animation:
    #{$keyframes}
    #{$duration}
    #{$ease}
    calc(#{$delay} + #{$stagger-delay} * #{$index})
    #{$iterations}
    #{$direction}
    both
    !important;
}

@mixin xyz($context: '') {
  $words: str-split($context);

  @extend [xyz];
  @each $word in $words {
    @extend [xyz~=#{$word}];
  }
}
