@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'transformers' as *;
@use 'variables' as *;

// HELPERS

@function xyz-str-split($string, $separator: ' ') {
  $split-list: ();
  $index : string.index($string, $separator);
  @while $index != null {
    $item: string.slice($string, 1, $index - 1);
    $split-list: list.append($split-list, $item);
    $string: string.slice($string, $index + 1);
    $index : string.index($string, $separator);
  }
  $split-list: list.append($split-list, $string);

  @return $split-list;
}

@function xyz-name($name, $mode: 'all') {
  @if $mode == 'all' {
    @return $name;
  }
  @return $mode + '-' + $name;
}


// VARIABLES

@function xyz-var($name, $mode: 'all', $fallback: 'default') {
  @if $fallback == 'default' {
    $fallback: var(--xyz-#{$name}-default);
  }
  @return var(--xyz-#{xyz-name($name, $mode)}, var(--xyz-#{$name}, #{$fallback}));
}

@mixin xyz-set-all($val: initial) {
  @each $name, $variable in $xyz-variables-map {
    $variable-modes: map.get($variable, 'modes');

    @each $mode in $variable-modes {
      --xyz-#{xyz-name($name, $mode)}: #{$val};
    }
  }
}


// UTILITIES

@mixin xyz-utility($name, $level: 'default', $mode: 'all') {
  $utility: map.get($xyz-utilities-map, $name);
  $vars: map.get($utility, 'vars');
  $default: map.get($utility, 'default');
  $levels: map.get($utility, 'levels');
  $transformer: map.get($utility, 'transformer');

  $val: null;
  @if $level == 'default' {
    $val: $default;
  } @else {
    $val: map.get($levels, $level);

    @if $val == null {
      @error '#{$level} is not a valid level for the #{$name} utility.';
    }

    @if $transformer {
      $transformer-func: meta.get-function($transformer);
      $val: meta.call($transformer-func, $val);
    }
  }

  @each $var in $vars {
    --xyz-#{xyz-name($var, $mode)}: #{$val};
  }
}

@mixin xyz-make-utilities($name, $utility) {
  $utility-modes: map.get($utility, 'modes');
  $levels: map.get($utility, 'levels');

  @each $mode in $utility-modes {
    @each $level in list.join('default', map.keys($levels)) {
      $mode-name: xyz-name($name, $mode);

      @if $level == 'default' {
        [xyz~=#{$mode-name}] {
          @include xyz-utility($name, $level, $mode);
        }
      } @else {
        [xyz~=#{$mode-name}-#{$level}] {
          @include xyz-utility($name, $level, $mode);
        }
      }
    }
  }
}

@mixin xyz-make-keyframes($name, $make-utilities: true) {
  @each $mode in $xyz-modes {
    $mode-name: xyz-name($name, $mode);

    @keyframes xyz-#{$mode-name} {
      @content($mode);
    }
  }

  @if $make-utilities {
    @each $mode in $xyz-modes {
      $mode-name: xyz-name($name, $mode);

      [xyz~=#{$name}], [xyz~=#{$mode-name}] {
        --xyz-#{xyz-name('keyframes', $mode)}: xyz-#{$mode-name};
      }
    }
  }
}

@mixin xyz($utilities) {
  $utilities-list: xyz-str-split($utilities);

  @each $utility in $utilities-list {
    $utility-mode: null;
    $utility-name: null;
    $utility-level: null;

    @each $name in map.keys($xyz-utilities-map) {
      @if string.index($utility, $name) {
        $utility-name: $name;
      }
    }

    @if $utility-name == null {
      @error '#{$utility} is not a valid xyz utility.';
    }

    $utility-level: string.slice($utility, string.index($utility, $utility-name) + string.length($utility-name) + 1);
    @if string.length($utility-level) == 0 {
      $utility-level: 'default';
    }

    @each $mode in list.append($xyz-modes-all, $xyz-mode-move) {
      @if string.index($utility, $mode) {
        $utility-mode: $mode;
      }
    }
    @if $utility-mode == null {
      $utility-mode: 'all';
    }

    @include xyz-utility($utility-name, $utility-level, $utility-mode);
  }
}


// ANIMATIONS

@mixin xyz-animation($mode) {
  $keyframes: xyz-var('keyframes', $mode, xyz-#{xyz-name('keyframes', $mode)});
  $ease: xyz-var('ease', $mode);
  $duration: xyz-var('duration', $mode);
  $delay: xyz-var('delay', $mode, 0s);
  $stagger: xyz-var('stagger', $mode, 0s);
  $stagger-rev: xyz-var('stagger-rev', $mode, 0s);
  $iterate: xyz-var('iterate', $mode);
  $origin: xyz-var('origin', $mode);

  $direction: normal;
  @if $mode == 'out' {
    $direction: reverse;
  }

  $index: var(--xyz-index, 0);
  $index-rev: var(--xyz-index-rev, 0);

  --xyz-computed-delay: calc(#{$delay} + #{$stagger} * #{$index} + #{$stagger-rev} * #{$index-rev});
  transform-origin: #{$origin};
  backface-visibility: visible;

  animation:
    #{$keyframes}
    #{$duration}
    #{$ease}
    #{var(--xyz-active-delay, 0s)}
    #{$iterate}
    #{$direction}
    both;
}
