@use 'variables' as *;
@use 'functions' as *;

@each $mode in $xyz-modes {
  @include xyz-make-keyframes('keyframes', $mode) {
    from {
      $fade: xyz-fallback-var('fade', $mode, 1);

      $translate-x: xyz-fallback-var('translate-x', $mode, 0);
      $translate-y: xyz-fallback-var('translate-y', $mode, 0);
      $translate-z: xyz-fallback-var('translate-z', $mode, 0);
      $rotate: xyz-fallback-var('rotate', $mode, 0);
      $scale: xyz-fallback-var('scale', $mode, 1);

      $transform: xyz-fallback-var('transform', $mode,
        translate3d(#{$translate-x}, #{$translate-y}, #{$translate-z})
        rotate(#{$rotate})
        scale(#{$scale})
      );

      opacity: $fade;
      transform: $transform;
    }
  }
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframes('expand-width', $mode) {
    from {
      max-width: 0;
      overflow: hidden;
    }
    to {
      max-width: xyz-fallback-var('max-width', $mode, 100vw);
      overflow: hidden;
    }
  }
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframes('expand-height', $mode) {
    from {
      max-height: 0;
      overflow: hidden;
    }
    to {
      max-height: xyz-fallback-var('max-height', $mode, 100vh);
      overflow: hidden;
    }
  }
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframes('stroke-draw', $mode) {
    from {
      stroke-dashoffset: xyz-fallback-var('stroke-dashoffset', $mode, 0);
    }
  }
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframe-utilities('expand-width', $mode);
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframe-utilities('expand-height', $mode);
}

@each $mode in $xyz-modes {
  @include xyz-make-keyframe-utilities('stroke-draw', $mode);
}
