@use 'variables' as *;
@use 'functions' as *;

@include xyz-make-keyframes('expand-width') using ($mode) {
  from {
    max-width: 0;
    overflow: hidden;
  }
  to {
    max-width: xyz-fallback-var('max-width', $mode, 100vw);
    overflow: hidden;
  }
}

@include xyz-make-keyframes('expand-height') using ($mode) {
  from {
    max-height: 0;
    overflow: hidden;
  }
  to {
    max-height: xyz-fallback-var('max-height', $mode, 100vh);
    overflow: hidden;
  }
}

@include xyz-make-keyframes('stroke-draw') using ($mode) {
  from {
    stroke-dashoffset: xyz-fallback-var('stroke-dashoffset', $mode, 0);
  }
}
