.example-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.example-item {
	min-height: 400px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: $sp-s;
	border: 1px solid primary-color(800);
}

.example-title {
	text-align: center;
	font-size: $fs-xl;
	color: primary-color(50);
}

.example-content {
	flex-grow: 1;
	display: flex;
}